<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title></title>
</head>
<body>
    <h1>Olá {user_nome}!</h1>

    <p>Obrigado por comprar conosco.</p>
    <p>Dados do produto</p>
    <ul>
        <li>Nome: {prod_nome}</li>
        <li>Preço: {prod_preco}</li>
        <li>Descrição: {prod_descricao}</li>
    </ul>
	<p>Após a confirmação do pagamento o seu download estará disponível na url abaixo:</p>
	<p>{url}</p>
    <p>Atenciosamente:</p>
    <p>Equipe {admin_nome} {admin_email}</p>
</body>
</html>