<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title></title>
</head>
<body>
    <h1>Notificação de pedido.</h1>
    <p>Dados do pedido</p>
    <ul>
        <li>Código: {codigo}</li>
        <li>Pedido efetuado por <span>{user_nome}</span></li>
        <li>Produto: {prod_nome}</li>
        <li>Preço: {prod_preco}</li>
        <li>Descrição: {prod_descricao}</li>
    </ul>
    <p>Mensagem do sistema.</p>
</body>
</html>
