/* 
    Document   : style
    Created on : 22/03/2010, 13:02:09
    Author     : ldmotta
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
img {
	border:none;
}
label{
    display:block;
}

label span {
    font: 12px times new roman, verdana, arial, tahoma, sans-serif;
    color:gray;
    font-style:italic;
}