/* 
    Document   : style
    Created on : 08/04/2010, 11:50:41
    Author     : ldmotta
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
    margin:0;
    padding:0;
}

fieldset {
    padding: 10px;
    margin: 10px 0 0;
}

#geral{
    margin:50px auto;
    width: 600px;
    font:18px Arial,Helvetica,sans-serif;
}

#geral  #conf_db label {
    display: block;
}

#conf_db span.alert {
    font:italic 18px Times New Roman, Arial, Verdana;
    color: red;
}

div.message{
    padding: 5px;
    border-collapse: collapse;
}
div.error{
    border: 1px solid #c0605a;
    background:#fcdbf6;
}
div.done{
    border: 1px solid #60cf5a;
    background:#e4f9de;
}
div.message li {
    list-style-position: inside;
}




